{% extends 'users/auth_base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block react %}
  {% if validlink %}
      <div id="react-password-reset-confirm"></div>
  {% else %}
      <div class="subtitle">
          {% trans 'The password reset link was invalid, possibly because it has already been used.' %}
          {% trans 'Please request a new password reset.' %}
      </div>
  {% endif %}
{% endblock %}

{% block extrascripts %}
    {% render_bundle 'password_reset_confirm' %}
{% endblock %}
