.login-signup {
  .inputs {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
    }
  }

  .error {
    margin-top: 17px;
    color: #f57575;
  }
}