.subscription {
  margin-top: 50px;

  .inputs {
    max-width: 500px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
  }

  .error {
    margin-top: 17px;
    color: #f57575;
  }

  .promise {
    margin-top: 45px;
    color: #a1a1a1;
  }
}


input {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0;
  font: inherit;

  height: 48px;
  border: solid 1px #404040;
  padding: 0 18px;
  font-size: 14px;
  font-weight: 300;

  &:hover {
    box-shadow: 0 1px 25px 7px rgba(104, 139, 217, 0.15);
    border: solid 1px #ffffff;
  }

  &:focus, &:active {
    box-shadow: 0 1px 25px 7px rgba(104, 139, 217, 0.15);
	border: solid 1px #404040;
    outline: none;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a1a1a1;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #a1a1a1;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #a1a1a1;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #a1a1a1;
  }
}


@media screen and (max-width: 767px) {
  .subscription {
    .inputs {
      flex-direction: column;
      .btn {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
