.container {
    background-color: #404040;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    height: 100vh;
    overflow-y: scroll;
}


.content {
    max-width: 605px;
    background-color: #ffffff;
    padding: 30px;
}


.wrapper {
    min-height: calc(100vh - 60px);
    max-width: 415px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.arrow-back {
    width: 16px;
    cursor: pointer;
    float: left;
}


.logo-block {
    display: flex;
    margin: 0 auto 10px auto;
    width: 140px;
}


.logo-block span {
    width: 50px;
    font-size: 18px;
}


.logo-block img {
    width: 85px;
    height: 85px;
}


.facebook-icon {
    width: 15px;
    margin-right: 12px;
}


.inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.inputs .btn {
    width: 100%;
}

.inputs label {
    font-size: 14px;
}

.error {
    color: #f14b4b;
    text-align: center;
    margin-top: 17px;
    font-size: 10px;
}


h1 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
}


a {
    text-decoration: none;
    color: #07bce9;
}


.subtitle {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}


.inp {
    width: 100% !important;
    margin-bottom: 5px;
    font-size: 14px !important;
    font-family: inherit !important;
}

.inp > div:last-child {
    font-size: 10px !important;
}


.btn-separator {
    font-size: 14px;
    margin: 10px auto;
}


.checkbox-inline-container {
    margin: 10px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-margin {
    margin-top: 50px;
}


input[type="checkbox"]:checked {
    background-image: url('../img/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 13px;
    background-color: #ffffff;
}


@media screen and (min-width: 1320px) {
    .content {
        max-width: 40%;
    }
}
