.container {
    background-color: #404040;
    background-image: url('../img/auth_background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    height: 100vh;
    overflow: scroll;
}


.content {
    max-width: 605px;
    min-height: calc(100% - 110px);
    background-color: #ffffff;
    padding: 30px;
}


.wrapper {
    max-width: 415px;
    margin: 0 auto;
}


.arrow-back {
    width: 16px;
    cursor: pointer;
    float: left;
}


.logo-block {
    display: flex;
    margin: 0 auto 30px auto;
    width: 140px;
}


.logo-block span {
    width: 50px;
    font-size: 18px;
}


.logo-block img {
    width: 85px;
    height: 85px;
}


.facebook-icon {
    width: 15px;
    margin-right: 12px;
}


@media screen and (min-width: 1320px) {
    .content {
        padding-left: 100px;
        width: 40%;
    }
}
