@font-face {
    font-family: 'MyFutura';
    font-weight: bold;
    src: url('../fonts/futurafuturisc-bold.otf') format('opentype');
}


@font-face {
    font-family: 'MyFutura';
    font-weight: 500;
    src: url('../fonts/futurabookc.otf') format('opentype');
}


body {
    font-family: MyFutura, Arial, sans-serif;
    color: #404040;
    margin: 0;
}


.container {
    margin: 0 20px;
}


.hidden {
    display: none;
}
