@font-face {
    font-family: 'MyFutura';
    font-weight: bold;
    src: url('../fonts/futurafuturisc-bold.otf') format('opentype');
}


@font-face {
    font-family: 'MyFutura';
    font-weight: 500;
    src: url('../fonts/futurabookc.otf') format('opentype');
}


body {
    font-family: MyFutura, Arial, sans-serif;
    color: #404040;
    margin: 0;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.hidden {
    display: none;
}


.grow {
    flex-grow: 1;
}

input[type="checkbox"]:checked {
    background-image: url('../img/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 13px;
}