.container {
    margin: 0 20px;
}

.content {
    text-align: center;
    margin: 75px auto;
}


.content h1 {
	font-size: 72px;
	font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}


.content h3 {
	font-size: 60px;
	font-weight: bold;
    margin: 10px 0;
}


.content h4 {
	font-size: 36px;
	font-weight: bold;
    margin: 10px 0;
}


.content h5 {
	font-size: 16px;
	font-weight: 500;
    margin: 10px 0;
}
