{% extends 'stores/application_base.html' %}

{% load i18n %}

{% block center %}

    <noscript>
        <p style="color: red">
            {% trans 'Please enable JavaScript in your browser for better user experience.' %}
        </p>
    </noscript>

    <h1>{% trans 'Participant application' %}</h1>
    <h4>{% trans 'Greetings at your store registration stage on Holo-Apollo.art' %}</h4>

    <div class="form-container">
        {# TODO: include it on noscript #}
        {% include 'stores/application_form.html' %}
    </div>

{% endblock %}
