{% extends 'stores/application_base.html' %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block center %}

    <noscript>
        <p style="color: red">
            {% trans 'Please enable JavaScript in your browser for better user experience.' %}
        </p>
    </noscript>

    <h1>{% trans 'Participant application' %}</h1>
    <h4>{% trans 'Greetings at your store registration stage on Holo-Apollo.art' %}</h4>
    <br />
    <h4>{% trans 'It consists of 2 steps:' %}</h4>

    <div class="form-container">
        <noscript>
            {% include 'stores/application_form.html' %}
        </noscript>
        <div id="react-application-form">
            {#Rendered by React#}
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    {% render_bundle 'application_form' %}
{% endblock %}
