{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

    <div>
        {% if request.user.is_authenticated %}
            {{ request.user.username }}
            <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
        {% else %}
            <a href="{% url 'login' %}">{% trans 'Log in' %}</a> |
            <a href="{% url 'signup' %}">{% trans 'Sign up' %}</a>
        {% endif %}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Index page</h1>

    <a href="{% url 'about' %}">{% trans 'About us' %}</a>

{% endblock %}
