{% extends 'base.html' %}
{% load static i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>{% trans 'Coming soon' %}</h1>
            <img src="{% static 'img/image_holo.png' %}" alt="Holo"/>
            <h3>
                {% if request.GET.token %}
                    {% trans 'Welcome back' %}
                {% else %}
                    {% trans 'Hello' %}
                {% endif %}
            </h3>
            <h5>
                {% if not request.GET.token %}
                    {% trans 'Welcome ' %}
                {% endif %}
                {% trans 'to Holo-Apollo.art' %}
            </h5>
            {% if request.GET.token %}
                <h5>{% trans 'The best marketplace of DECOR & DESIGN' context 'welcome back' %}</h5>
            {% else %}
                <h5>{% trans 'The best marketplace of DECOR & DESIGN' context 'welcome' %}</h5>
            {% endif %}

            <div id="react-subscription">
                {#Rendered by React#}
            </div>
        </div>
    </div>

{% endblock %}
