{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <img src="{% static 'img/image_holo.png' %}" alt="Holo"/>
                <h1>Coming soon</h1>
                <h3>Holo Apollo</h3>
                <h5>The best marketplace of craft design</h5>
            </div>
        </div>
    </div>
{% endblock %}
