{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Coming soon</h1>
        <img src="/static/img/image_holo.png" alt="Holo"/>
        <h3>Hello!</h3>
        <h5>Welcome to Holo-Apollo.art</h5>
        <h5>The best marketplace of DECOR & DESIGN</h5>

        <div id="react-subscription">
            {#Rendered by React#}
        </div>
    </div>
{% endblock %}
