{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% if production %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113883637-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113883637-1');
    </script>
    {% endif %}

    <title>Holo Apollo Art {% block extratitle %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block description %}
        <meta name="description" content="{% trans 'Unique marketplace of design products will be here soon. In a meantime, subscribe for updates' %} ♥️">
    {% endblock %}
    {% block keywords %}
        <meta name="keywords" content="holo apollo, holoapollo, холо аполло, дизайнерские вещи, декор, купить дизайнерские вещи Украина">
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">
    {% block extrastyle %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src='{% static 'js/bundle.js' %}'></script>
</body>
</html>
