form {
    text-align: left;
    color: #747474;
}

form p {
    width: 100%;
    margin-bottom: 40px;
}

input[type='text'], input[type='email'], textarea, select {
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #424242;
    background: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a7a7a7;
    border-radius: 0;
    font-family: inherit;
}

textarea:focus {
    height: 63px;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus, select:focus {
    outline: none;
    border-bottom: 2px solid #4caad0;
}

input[type='file'] {
    outline: none;
    display: block;
    margin: 8px 0 10px 0;
}

::placeholder, label, .helptext {
    font-size: 12px;
}

.btn-container {
    width: 250px;
    margin: auto;
}

.btn {
    width: 100%;
    height: 35px;
    background-color: #424242;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

ul.errorlist {
    list-style: none;
    color: #f14b4b;
    font-size: 10px;
    padding: 0;
    text-align: center;
}

ul.errorlist li:before {
    content: '* '
}
