form {
    text-align: left;
    color: #747474;
}

form p {
    width: 100%;
    margin-bottom: 55px;
    position: relative;
}

input[type='text'], input[type='email'], textarea, select {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #424242;
    background: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a7a7a7;
    border-radius: 0;
    padding: 2px;
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

select {
    height: 31px;
    background-image:
        linear-gradient(45deg, transparent 50%, #a7a7a7 50%),
        linear-gradient(135deg, #a7a7a7 50%, transparent 50%);
    background-position:
        calc(100% - 5px) 1em,
        100% 1em;
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, #a7a7a7 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #a7a7a7 50%);
    background-position:
        100% 1em,
        calc(100% - 5px) 1em;
}

textarea {
    resize: none;
    overflow-y: hidden;
    height: 25px;
    line-height: 25px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus, select:focus {
    outline: none;
    border-bottom: 2px solid #4caad0;
}

input[type='file'] {
    outline: none;
    display: block;
    margin: 8px 0 10px 0;
    padding-top: 30px;
    cursor: pointer;
}

.btn-container {
    width: 250px;
    margin: auto;
}

.btn {
    width: 100%;
    height: 35px;
    background-color: #424242;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

ul.errorlist {
    list-style: none;
    color: #f14b4b;
    font-size: 10px;
    padding: 0;
    text-align: center;
}

ul.errorlist li:before {
    content: '* ';
}

.helptext {
    font-size: 8px;
}

input[type="file"] ~ .helptext {
    display: block;
}

label {
    font-size: 8px;
    position: absolute;
    top: -15px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input[type="file"] ~ label {
    font-size: 12px;
    top: 5px;
}

input[type='checkbox'] ~ label {
    display: none;
}

input[type='checkbox'] ~ .helptext {
    font-size: 12px;
}

select ~ label {
    display: none;
}

input[type="text"]:placeholder-shown ~ label,
input[type="email"]:placeholder-shown ~ label,
textarea:placeholder-shown ~ label {
    opacity: 0;
    transform: translateY(1rem);
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label,
textarea:focus ~ label {
    opacity: 1;
    transform: translateY(0);
}

::placeholder {
    font-size: 12px;
}

.counter {
    float: right;
    font-size: 8px;
}

@media screen and (max-width: 767px) {
    input[type='text'], input[type='email'], textarea, select {
        font-size: 16px;
    }
}
