.container {
    display: flex;
}

.block-center {
    width: 668px;
    flex-basis: 668px;
    margin: 68px 0;
    text-align: center;
}

.block-center h1 {
    font-size: 48px;
    line-height: 80px;
    font-weight: normal;
    color: #424242;
}

.block-center h4 {
    font-size: 12px;
    font-weight: normal;
    color: #747474;
}

.block-left {
    width: calc(50% - 334px);
    margin-top: 68px;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.logo-container img {
    width: 282px;
}

.logo-container h2 {
    font-size: 36px;
    font-weight: normal;
    color: #424242;
    line-height: 45px;
}

.logo-container h5 {
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    color: #424242;
    line-height: 19px;
}

.form-container {
    margin-top: 83px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

.emoji {
    margin: 16px 0 8px 0;
    font-size: 30px;
}

.divider {
    max-width: 420px;
    height: 2px;
    background-color: #a7a7a7;
    margin: 70px auto 53px auto;
}

.pubdate {
    font-size: 48px;
    color: #424242;
    margin-bottom: 10px;
}

.pubdate-help {
    font-size: 12px;
    margin-bottom: 48px;
}

.instalogo {
    width: 45px;
}

@media screen and (max-width: 1319px) {
    .block-center {
        width: 100%;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .block-left {
        display: none;
    }

    .form-container {
        width: 100%;
    }
}
